.logo {
    background-color: #000;
    min-height: 36px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    max-width: 75px;
}

.container-ricerca {
    display: flex;
    float: right;
}


.button-form {
    background-color: rgb(0, 112, 204, 1);
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: white;
    font-weight: 500;
    padding: 6px;

}

button .ricerca {
    display: flex;
    box-shadow: none;
    align-self: center;
    width: auto;
    padding: 10px;
    border: 1px solid;

}

.carousel-inner {
    padding-bottom: 150px;
}

.carousel-indicators [data-bs-target] {
    max-width: 180px;
    width: 100%;
    height: 100%;
    padding: 4px;
}

.carousel-indicators .active {
    border: 3px solid rgb(0, 128, 255);
    border-radius: 20px;
}

.carousel-indicators [data-bs-target] img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.bottom-carousel {
    display: flex;
    margin-left: 200px;
    max-height: 500px;
}

.bottom-carousel img {
    max-width: 900px;
    height: auto;
}


.bottom-carousel-text {
    text-align: left;
    max-width: 400px;
}

.bottom-carousel-text h3 {
    margin-top: 20px;
    padding: 30px;
}

.button a span {
    background-color: rgb(0, 112, 204, 1);
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: white;
    font-weight: 600;
    padding: 10px;
}


#mid-carousel {
    padding-top: 100px;
}

.imm-PSPlus-back img {
    height: 555px;
    width: 100%;
}

.imm-PSPlus-top {
    display: flex;
    margin-left: 70px;
}

.imm-PSPlus .imm-PSPlus-back .imm-PSPlus-top img {
    height: 480px;
    width: 550px;
}

.month-PS img {
    max-width: 100%;
}

.gow-img img {
    max-width: 100%;
}

.gow-logo{
    position: absolute;
    top: 200px;
    left: 150px;
    width: 420px;
    color: white;
}

.button-red a span {
    background-color: red;
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: white;
    font-weight: 600;
    padding: 10px;
}

a {
    text-decoration: none;
}

.new-Real {
    max-width: 100%;
    max-height: 625px;
    position: relative;

}

.new-Real img {
    width: 100%;

}

.new-Real-text {
    display: block;
    position: absolute;
    top: 200px;
    color: white;
    left: 170px;
    width: 590px;
    padding: 40px;
}

.button-white a span {
    background-color: white;
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: black;
    font-weight: 600;
    padding: 10px;
}