/*----------Barra Sony----------*/
.logo {
    background-color: #000;
    min-height: 36px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    max-width: 75px;
    margin-right: 10px;
}

/*----------Navbar----------*/

nav ul li {
    padding: 0px 12px;
}

.container-ricerca {
    display: flex;
    float: right;
}

.container-ricerca .button-form {
    margin-right: 15px;
}

.container-ricerca .ricerca-form {
    width: 130px;
    height: 40px;
}

.container-ricerca .ricerca-form .ricerca {
    width: 100%;
    height: 100%;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    color: #1F1F1F;
    font-weight: 400;
}


.button-form {
    background-color: rgb(0, 112, 204, 1);
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: white;
    font-weight: 500;
    padding: 0px 15px;

}

button .ricerca {
    display: flex;
    box-shadow: none;
    align-self: center;
    width: auto;
    padding: 10px;
    border: 1px solid;

}

.carousel-inner {
    padding-bottom: 150px;
    min-height: 650px;
}

.carousel-indicators [data-bs-target] {
    max-width: 180px;
    width: 100%;
    height: 100%;
    padding: 4px;
}

.carousel-indicators .active {
    border: 3px solid rgb(0, 128, 255);
    border-radius: 20px;
}

.carousel-indicators [data-bs-target] img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.bottom-carousel {
    display: flex;
    margin-left: 200px;
    max-height: 500px;
}

.bottom-carousel img {
    max-width: 900px;
    height: auto;
}


.bottom-carousel-text {
    text-align: left;
    max-width: 550px;
    padding: 100px 0px;
}


.bottom-carousel-text h3 {
    margin-top: 20px;
    padding: 30px;
}

.button a span {
    background-color: rgb(0, 112, 204, 1);
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: white;
    font-weight: 600;
    padding: 10px;
}

.button a span:hover {
    outline-offset: 2px;
    outline: 2px solid #0073c7;
}


#mid-carousel {
    padding-top: 100px;
}

/*----------PS Plus----------*/

.imm-PSPlus-back img {
    height: 555px;
    width: 100%;
}

.imm-PSPlus-top {
    display: flex;
    margin-left: 250px;
}

.imm-PSPlus .imm-PSPlus-back .imm-PSPlus-top img {
    height: 480px;
    width: 550px;
}

/*----------Month PS----------*/

.content-grid {
    height: 370px;
    position: absolute;
}

.bc-psmonth {
    background-color: #26254f;
    min-height: 740px;
}

.month-PS-text {
    text-align: left;
    max-width: 650px;
    color: white;
    top: 50px;
    position: absolute;
    margin-left: 200px;
}

.month-PS-text .button a span {
    background-color: white;
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: black;
    font-weight: 600;
    padding: 10px;
}


.month-PS-text .button a span:hover {
    outline-offset: 2px;
    outline: 2px solid white;
}


.month-PS .month-PS-bg img {
    max-width: 100%;
}

.grid-img {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    padding: 0px 200px;
    justify-content: space-between;
    margin-block-start: -10rem;
}

.grid-img .box {
    padding: 20px;
}

.grid-img .box .imageblock {
    max-width: 380px;
    max-height: 210px;
}

.grid-img .box .imageblock img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    text-shadow: 2px 2px 10px;
}

.grid-img .box .textblock {
    padding-top: 30px;
}

/*----------GOW----------*/

.gow-img img {
    max-width: 100%;
}

.gow-logo {
    position: absolute;
    top: 200px;
    left: 150px;
    width: 420px;
    color: white;
}

.button-red a span {
    background-color: red;
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: white;
    font-weight: 600;
    padding: 10px;
}

.button-red a span:hover {
    outline-offset: 2px;
    outline: 2px solid red;
}

a {
    text-decoration: none;
}

/*----------Grid Game----------*/

.container-grid-game {
    width: 100%;
    height: 720px;
    background-color: #121314;
}

.grid-game-header {
    width: 1272px;
    height: 93px;
    color: white;
    margin: auto;
    padding-top: 20px;
}

.grid-game-header h3 {
    height: 60px;
    width: 100%;
    padding-top: 25px;
}

.grid-game-header h5 {
    height: 25px;
    width: 100%;
}

.grid-game {
    margin-top: 50px;
}

.game {
    padding: 20px;
}

.game img {
    width: 185px;
    height: 185px;
    border-radius: 8px;
}

.game .testo {
    color: white;
    padding: 5px;
}


/*----------New Real----------*/

.new-Real {
    max-width: 100%;
    max-height: 625px;
    position: relative;

}

.new-Real img {
    width: 100%;

}

.new-Real-text {
    display: block;
    position: absolute;
    top: 200px;
    color: white;
    left: 170px;
    width: 590px;
    padding: 40px;
}

.button-white a span {
    background-color: white;
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: black;
    font-weight: 600;
    padding: 10px;
}

.button-white a span:hover {
    outline-offset: 2px;
    outline: 2px solid white;
}


/*----------Explore----------*/
.explorePS {
    width: 100%;
    height: 240px;
}

.explorePS .explore-box {
    width: 100%;
    height: 125px;
    text-align: center;
}

.explorePS .explore-box .explore-text {
    width: 870px;
    height: 125px;
    margin: auto;
    padding-top: 40px;
}

.explorePS .explore-box .explore-text h2 {
    width: 870px;
    height: 50px;
    font-weight: 300;
    color: #000;
    font-size: 39px;
}

.explorePS .explore-box .explore-text p {
    width: 870px;
    height: 60px;
    padding: 0px 20px;
    color: #212529;
    font-size: 20px;
    font-weight: 300;
}

/*----------Column3----------*/
.column3 {
    width: 100%;
    height: 470px;
}

.column3 .grid-img {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    padding: 10px 200px;
    justify-content: space-between;
    margin-block-start: 0rem;
}

/*----------PS Store----------*/
.ps-store {
    width: 100%;
    height: 492px;
}

.ps-store .grid-store {
    height: 100%;
    width: 1320px;
    display: flex;
    margin: 0px 172px 64px;
}

.ps-store .grid-store .store-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 400px;
}

.ps-store .grid-store .store-text h2 {
    font-weight: 300;
    margin-top: 20px;
}

.ps-store .grid-store .store-text p {
    color: #6B6B6B;
    font-weight: 400;
    margin-top: 15px;
}

.button-orange {
    margin-top: 15px;
}

.button-orange a span {
    background-color: #d53b00;
    position: relative;
    text-align: center;
    border-radius: 2em;
    margin: 0;
    color: white;
    font-weight: 600;
    padding: 10px;
}

.button-orange a span:hover {
    outline-offset: 2px;
    outline: 2px solid #d53b00;
}

.ps-store .grid-store .store-img img {
    height: 450px;
    width: 800px;
    border-radius: 20px;
}

.white {
    height: 50px;
    width: 100%;
    background-color: white;
}

/*----------Clothes----------*/
.clothes {
    width: 100%;
    position: relative;
}

.clothes img {
    width: 100%;
    height: 850px;
}

.box-clothes {
    width: 644px;
    position: absolute;
    top: 40px;
    left: 160px;
    display: flex;
    flex-direction: column;
    color: white;

}

.grid-clothes{
    display: flex;
    justify-content: center;
}

.clothes .box-clothes img {
    width: 97px;
    height: 87px;
}

.grid-clothes-data{
    display: grid;
    grid-template-columns: 24% 23% 23% 24%;
    position: absolute;
    top: 325px;
    /*width: 1320px;*/
    height: 375px;
    column-gap: 25px;

}

.grid-clothes-data .box{
    background-color: rgba(0,0,0,0.2);
    padding: 24px;
}

.grid-clothes-data .box .imageblock{
    display: flex;
    justify-content:center
}

.grid-clothes-data .box .textblock{
    width: 258px;
    min-height: 88px;
    margin: 24px 0px -20px;
    display: contents;
    text-align: center;
}

.grid-clothes-data .box .textblock .textblock-p{
    min-height: 88px;
}

.grid-clothes-data .box .button-orange{
    display: flex;
    justify-content: center;
}

.clothes .button-white{
    position: absolute;
    top: 770px;
}

/*----------Novità----------*/

.text-novità{
    width: 100%;
    height: 145px;
    padding: 48px 0px 0px;
}

.text-novità .content-text-novità{
    width: 1320px;
    height: 97px;
    margin: auto;
    text-align: center;
}

.text-novità .content-text-novità h2{
    font-weight: 300;
    font-size: 39px;
}

/*----------Novità contenuti----------*/

.content-novità{
    width: 100%;
    height: 700px;
}

.content-novità .grid-novità .grid-img-novità {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-block-start: 0rem;
    column-gap: 25px;
    justify-content: center;
}

.content-novità .grid-novità .grid-img-novità .box-novità{
    max-height: 555px;
    max-width: 490px;
    border-radius: 16px;
}
